.board-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    border: 3px solid #e74c3c;
    background-color: #f1c40f;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}